**/payload-types.ts
.tmp
**/.git
**/.hg
**/.pnp.*
**/.svn
**/.yarn/**
**/build
**/dist/**
**/node_modules
**/temp
**/docs/**
tsconfig.json


# Added by Husky setup
.next/
node_modules/
coverage/
*.log
pnpm-lock.yaml
public/sitemap.xml
public/robots.txt

